body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: inline-grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
}

.answer {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(165, 164, 164);
  border-radius: 3px;
}

.clear {
  grid-column-start: 1;
  grid-column-end: 4;
}

.zero {
  grid-column-start: 1;
  grid-column-end: 4;
}

.box {
  padding:10px;
  vertical-align: middle;
  margin: 2px;
  border: 1px solid black;
  border-radius: 5px;
}

.operator {
  background-color: rgb(216, 188, 221);
}